.button {
	position: relative;
	width:70px;
	height:70px;
	text-align:center;
	color:#FFFFFF;
	line-height:43px;
	font-family:'Oswald', Helvetica;
	font-weight: bold;
	display: block;
	margin: 30px;
}
.button:before {
	background:#891717;
	border-radius:50px;
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #600d0d;
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -2px; bottom: -10px;
	z-index: -1;
}

.button:active {
	top:5px;
	box-shadow: none;
}
.button:active:before{
	top: -6px;
	bottom: -5px;
	content: "";
}

.red {
	background: rgb(134, 17, 39);
	border:1px solid #841616;
	background-image:radial-gradient(#c12626, #b21111);
   border-radius:50px;
	box-shadow:0 1px 0 rgba(163, 102, 102, .5) inset, 0 -1px 0 rgba(163, 102, 102, .1) inset, 0 4px 0 #600d0d, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
	background: #d62c2c;
	background-image:radial-gradient( #a82121, #8c0e0e);
}
